body {
    font-family: Arial, sans-serif;
    background-color:#D0BC9D;
    color: #222;
    display: grid;
    grid-template-columns: .1fr 2fr .1fr;
    grid-template-rows: 1fr 1fr 7fr 1fr ;
    grid-template-areas:
      "Section1 Section2 Section3"
      "Section4 Section5 Section6"
      "Section7 Section8 Section9"
      "Section10 Section11 Section12";

  
}

.Background-Img-round1b{


  
  width: 50%;
  height: auto;
  border-radius: 25px;
  background-image:url("Images/Square.png");
  margin-bottom: 25%;



  }

  .Background-Img-round1a{



    width: 50%;
    height: 80%;
    border-radius: 25px;
    background-image:url("Images/Square.png");
    text-align: left;
    display: flex;
    grid-area: Section5; 

  }

  .form-control{
    width: 50%;
    text-align: center;
    height:40px;
    font-size: 13pt;
  }

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    z-index: 10;
    }

.midsection1a {


    text-align: center;
    display: flex;
    flex-direction: column; /* Stack everything */
    align-items: center; /* Center horizontally */
    grid-area: Section5; 

    }
  .midsection1b {


    text-align: center;
    display: flex;
    flex-direction: column; /* Stack everything */
    align-items: center; /* Center horizontally */
    grid-area: Section8; 

    }
    
.header {
    text-align: center;
    align-items: center; /* Center horizontally */
    grid-area: Section2; 
  }

  .header1 {
    text-align: center;
    align-items: center; /* Center horizontally */
font-size: 20pt;
  }


.submit-button {
  background-color: #8a9a5b; /* muted green */
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding:9px 90px;
  text-decoration:none;
  width: 200px;
}


.back-button {
  background-color: #D0BC9D;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding:9px 90px;
  text-decoration:none;
  width: 200px;
}

  .resize {
    width: 40%;
    height: auto;
    border-radius: 25px;
}



.resize_pre {
  width: 50%;
  font-size: 90%;
margin-left: 5%;

}
.form-control{
  width: 50%;
  text-align: center;
  height:40px;
  font-size: 13pt;
}
.form-control1{
  width: 10%;
  height:40px;
  font-size: 13pt;
}
